
<html ng-app="app">
    <head>
        <link rel="shortcut icon" href="https://www.aleksnyder.net/assets/img/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


        <title>WMATA Stations</title>

        <link rel="stylesheet" href="lib/custombootstrap.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="lib/site.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body ng-controller="wmataDataController">

        <div class="container">
            <h1 class="text-center">
                <span ng-hide="stationData"/>Loading...</span>
                <span />WMATA Stations</span>
            </h1>

            <div class="panel  panel-default">
                <div class="panel-heading">

                    <form class="form-inline">
                        <span>
                            <h4>Stations <span class="badge">{{stationData.length}}</span>
                            <input ng-model="searchText" placeholder="Find a station..." class="form-control input-sm">
                            </h4>
                        </span>
                    </form>

                </div>
                <div class="panel-body">
                    <div class="list-group">

                        <div ng-repeat="station in stationData | filter:searchText  | orderBy:Line:reverse" class="list-group-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <p><strong>Location Name</strong></p>
                                </div>
                                <div class="col-md-5">
                                    <p><strong>Destination Name</strong></p>
                                </div>
                                <div class="col-md-5">
                                    <p><strong>Line</strong></p>
                                </div>
                                 <div class="col-md-5">
                                    <p><strong>Cars</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <h4>
                                        <p>{{station.LocationName}}</p>
                                    </h4>
                                </div>
                                <div class="col-md-5">
                                    <h4>
                                        <p>{{station.DestinationName}}</p>
                                    </h4>
                                </div>
                                <div class="col-md-5">
                                    <h4>
                                        <p>{{station.Line}}</p>
                                    </h4>
                                </div>
                                <div class="col-md-5">
                                    <h4>
                                        <p>{{station.Car}}</p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="lib/angular/angular.min.js" charset="utf-8"></script>
        <script src="app/app.js" charset="utf-8"></script>

    </body>
    </body>
</html>
